#formatter {

    .path-selector {

        span {
            color: $color1;
            border: none;
            padding: none;
            cursor: pointer;
        }

        margin-bottom: 2em;
    }

}